<!DOCTYPE html>
<html>
<head>
    <title>Car Selection</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Predict Price</button>
    </form>

    <script type="text/javascript">
        function updateDropdown(url, sourceId, targetId, placeholder) {
            var sourceVal = $(sourceId).val();
            $.ajax({
                url: url,
                data: { 'id': sourceVal },
                success: function (data) {
                    var $target = $(targetId);
                    $target.html('<option value="">' + placeholder + '</option>');
                    $.each(data, function (key, value) {
                        $target.append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        }

        $("#id_uildverlegch").change(function () {
            updateDropdown("{% url 'load_mark' %}", "#id_uildverlegch", "#id_mark", "Select a Mark");
        });

        $("#id_mark").change(function () {
            updateDropdown("{% url 'load_motor_bagtaamj' %}", "#id_mark", "#id_motor_bagtaamj", "Select Motor Bagtaamj");
        });

        $("#id_motor_bagtaamj").change(function () {
            updateDropdown("{% url 'load_xrop' %}", "#id_motor_bagtaamj", "#id_xrop", "Select Xrop");
        });

        $("#id_xrop").change(function () {
            updateDropdown("{% url 'load_joloo' %}", "#id_xrop", "#id_joloo", "Select Joloo");
        });

        $("#id_joloo").change(function () {
            updateDropdown("{% url 'load_uildverlesen_on' %}", "#id_joloo", "#id_uildverlesen_on", "Select Uildverlesen On");
        });

        $("#id_uildverlesen_on").change(function () {
            updateDropdown("{% url 'load_orj_irsen_on' %}", "#id_uildverlesen_on", "#id_orj_irsen_on", "Select Orj Irsen On");
        });

        $("#id_orj_irsen_on").change(function () {
            updateDropdown("{% url 'load_hutlugch' %}", "#id_orj_irsen_on", "#id_hutlugch", "Select Hutlugch");
        });

        $("#id_hutlugch").change(function () {
            updateDropdown("{% url 'load_yavsan_km' %}", "#id_hutlugch", "#id_yavsan_km", "Select Yavsan Km");
        });
    </script>
</body>
</html>
